httpx>=0.24.0
aiohttp==3.8.4
matplotlib==3.7.0
mplfinance==0.12.9b7
numpy==1.24.2
pandas
requests==2.31.0
TA-Lib @ file:///C:/Data/Dev/Python/Scan/TA_Lib-0.4.25-cp311-cp311-win_amd64.whl
Twisted @ file:///C:/Data/Dev/Python/Scan/Twisted-16.6.0-cp311-cp311-win_amd64.whl
pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git@development